.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  .cart-img {
    width: 150px;
  }
  
  .cart-heading{
    align-self: flex-start;
  }