.proceed-btn{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 14px;
    padding: 8px 16px;
    color: #ffffff;
    background-color: #0967d2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    width: 100%;
}

.order-amount {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 26px;
    color: black;

}

.order-text {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    color: black;
 
}

.confirmation-modal {
    background-color: #fff;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
  }
  /* index.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.payment-options {
  margin: 20px 0;
}

.payment-options label {
  display: block;
  margin: 5px 0;
}

.modal-actions button {
  margin: 0 5px;
}
